h1 {
    text-align: center;
    color: white;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(112, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
    width: 600px;
    margin: 0 auto 10px;
    border-radius: 25px;
}

h3 {
    background: rgb(204, 236, 209);
    background: linear-gradient(90deg, rgba(204, 236, 209, 1) 0%, rgba(25, 229, 174, 1) 100%, rgba(16, 167, 146, 1) 100%);
    text-align: center;
    margin-bottom: 10px;
    width: 350px;
    margin: 0 auto 10px;
    border-radius: 25px;
}


p, dl, dt, dd {
    text-align: center;
    font-style: italic;
    width: 500px;
    margin: 0 auto 10px;
    border-radius: 25px;
}


#name, #description, #code, #address, #city, #area, #zip_code, #warehouses {
    text-align: center;
    font-weight: bold;
    border-radius: 25px;
    width: 500px;
    margin: 0 auto 30px;
    background: rgb(204, 236, 209);
    background: linear-gradient(90deg, rgba(204, 236, 209, 1) 0%, rgba(25, 229, 174, 1) 100%, rgba(16, 167, 146, 1) 100%);
}

#submit {
    text-align: center;
    font-weight: bold;
    margin: 0 auto 10px;
}